site_name: biopipen
theme:
    palette:
        scheme: slate
    favicon: favicon.png
    logo: favicon.png
    name: 'material'
markdown_extensions:
    - markdown.extensions.admonition
    - pymdownx.superfences:
        preserve_tabs: true
    - toc:
        baselevel: 2
plugins:
    - search # necessary for search to work
    - mkapi
extra_css:
    - style.css
nav:
    - 'Home': 'index.md'
    - API: mkapi/api/biopipen
