site_name: biopipen
repo_url: https://github.com/pwwang/biopipen
repo_name: pwwang/biopipen
theme:
    name: 'rtd'
    logo: 'img/rtd-logo.png'
    # palette:
    #     # Palette toggle for light mode
    #     - scheme: default
    #       toggle:
    #         icon: material/brightness-7
    #         name: Switch to dark mode

    #     # Palette toggle for dark mode
    #     - scheme: slate
    #       toggle:
    #         icon: material/brightness-4
    #         name: Switch to light mode
    # name: 'material'
    # # font:
    # #     text: 'Ubuntu'
    # #     code: 'Ubuntu Mono'
    # features:
    #     - navigation.footer
markdown_extensions:
    - markdown.extensions.admonition
    - pymdownx.superfences:
        preserve_tabs: true
    - toc:
        baselevel: 2
plugins:
    - search # necessary for search to work
    - mkapi:
        src_dirs: ['biopipen']
extra_css:
    - style.css
extra_javascript:
    - extra.js
nav:
    - 'Home': 'index.md'
    - 'Pipelines':
       - 'Single-cell Metabolic Landscape': pipelines/scrna_metabolic.md
       - 'CNVkit Pipeline': pipelines/cnvkit_pipeline.md
    - 'API': mkapi/api/biopipen
    - 'Change log': 'CHANGELOG.md'
