[tool.poetry]
name = "biopipen"
version = "0.4.5"
description = "Bioinformatics processes/pipelines that can be run from `pipen run`"
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7.1"
pipen = "^0.3"
pipen-filters = "^0.1"
cmdy = "^0.5"
datar = "^0.8"
pipen-verbose = {version = "^0.1", optional = true}
pipen-args = {version = "^0.2", optional = true}

[tool.poetry.extras]
test = ["pipen-verbose", "pipen-args"]

[tool.poetry.dev-dependencies]

[tool.poetry.plugins.pipen_cli_run]
bam = "biopipen.ns.bam"
bcftools = "biopipen.ns.bcftools"
bed = "biopipen.ns.bed"
csv = "biopipen.ns.csv"
gene = "biopipen.ns.gene"
gsea = "biopipen.ns.gsea"
misc = "biopipen.ns.misc"
plot = "biopipen.ns.plot"
rnaseq = "biopipen.ns.rnaseq"
scrna = "biopipen.ns.scrna"
scrna_metabolic = "biopipen.ns.scrna_metabolic"
tcr = "biopipen.ns.tcr"
vcf = "biopipen.ns.vcf"
web = "biopipen.ns.web"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 80
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
