[tool.poetry]
name = "biopipen"
version = "0.1.5"
description = "Bioinformatics processes/pipelines that can be run from `pipen run`"
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7.1"
pipen = "^0.2"
cmdy = "^0.4.3"

[tool.poetry.dev-dependencies]

[tool.poetry.plugins.pipen_cli_run]
bam = "biopipen.namespaces.bam"
bcftools = "biopipen.namespaces.bcftools"
bed = "biopipen.namespaces.bed"
csv = "biopipen.namespaces.csv"
gene = "biopipen.namespaces.gene"
gsea = "biopipen.namespaces.gsea"
misc = "biopipen.namespaces.misc"
plot = "biopipen.namespaces.plot"
rnaseq = "biopipen.namespaces.rnaseq"
scrna = "biopipen.namespaces.scrna"
scrna_metabolic = "biopipen.namespaces.scrna_metabolic"
tcr = "biopipen.namespaces.tcr"
vcf = "biopipen.namespaces.vcf"
web = "biopipen.namespaces.web"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 80
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
