# use_directory_urls doesn't work for newer versions
mkdocs
# AttributeError: module 'jinja2' has no attribute 'contextfilter'
# jinja2==3.1.0
# jinja2==3.0.3
# mkdocs-material
mkdocs-rtd
pymdown-extensions
mkapi-fix
# in order to build biopipen.utils.gene
mygene
