name: docker

on: [push]

jobs:

  docker-base:
    runs-on: ubuntu-latest
    if: contains(join(github.event.commits.*.modified, ','), 'docker/base/Dockerfile')
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/base/Dockerfile
          tags: biopipen/base:latest

  docker-test:
    needs: docker-base
    if: always() && (needs.docker-base.result == 'success' || contains(join(github.event.commits.*.modified, ','), 'docker/test/Dockerfile') || contains(join(github.event.commits.*.modified, ','), 'tests/conda/env_biopipen.yml'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/test/Dockerfile
          tags: biopipen/test:latest

  docker-cnvkit-pipeline:
    needs: docker-test
    if: always() && (needs.docker-test.result == 'success' || contains(join(github.event.commits.*.modified, ','), 'docker/cnvkit_pipeline/') || contains(join(github.event.commits.*.added, ','), 'docker/cnvkit_pipeline/'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/cnvkit_pipeline/Dockerfile
          tags: biopipen/cnvkit-pipeline:${{ github.ref_name }}

  docker-cellranger-pipeline:
    needs: docker-test
    if: always() && (needs.docker-test.result == 'success' || contains(join(github.event.commits.*.modified, ','), 'docker/cellranger_pipeline/') || contains(join(github.event.commits.*.added, ','), 'docker/cellranger_pipeline/'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/cellranger_pipeline/Dockerfile
          tags: biopipen/cellranger-pipeline:${{ github.ref_name }}
