name: docker

on: [push]

jobs:

  docker-base:
    runs-on: ubuntu-latest
    steps:
      - name: Delete cache to save space
        # https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
        run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/base/Dockerfile
          tags: biopipen/base:latest

  docker-test-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Delete cache to save space
        # https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
        run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
      - name: Check if env/docker files changed
        id: check_changes
        run: |
          if [[ "${{ github.ref_name }}" == "dev" ]] && git diff --name-only HEAD~1 HEAD | grep -qE '(env_biopipen\.yml|Dockerfile\.deps)$'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Set up QEMU
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/test/Dockerfile.deps
          tags: biopipen/test-deps:latest

  docker-test:
    needs: docker-test-deps
    runs-on: ubuntu-latest
    steps:
      - name: Delete cache to save space
        # https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
        run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/test/Dockerfile
          tags: biopipen/test:latest

  docker-cnvkit-pipeline:
    needs: docker-test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Delete cache to save space
        # https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
        run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Check for changes
        id: check_changes
        run: |
          if [ "${{ needs.docker-test.result }}" == "success" ] && git diff --name-only HEAD^ HEAD | grep -q 'cnvkit'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Set up QEMU
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/cnvkit_pipeline/Dockerfile
          tags: biopipen/cnvkit-pipeline:${{ github.ref_name }}

  docker-cellranger-pipeline:
    needs: docker-test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Delete cache to save space
        # https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
        run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Check for changes
        id: check_changes
        run: |
          if [ "${{ needs.docker-test.result }}" == "success" ] && git diff --name-only HEAD^ HEAD | grep -q 'cellranger'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Set up QEMU
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        if: steps.check_changes.outputs.changed == 'true'
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: docker/cellranger_pipeline/Dockerfile
          tags: biopipen/cellranger-pipeline:${{ github.ref_name }}
